:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --accent1-color: Black;
    --accent2-color: Black;
    --heading-font: "Times New Roman", "Arial Black", serif;
    --body-font: "Times New Roman", "Georgia", Arial;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1 h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
    height: auto;
    clear: right;
    border: 2px solid #000;
    block-size: 150px;
    box-shadow: 3px 2px 1px 1px;
    margin-left: 30px;
}

.hero article {
    width: 100%;
    height: 170px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 10px;
    background-color: lightyellow;
    text-align: justify;
}

h2 {
    text-align: center;
    background-color: blue;
    color: #fff;
}

footer img {
    width: 50px;
}