table {
    border: 2px solid grey;
    border-collapse: collapse;
}

thead,
tfoot {
    background-color: black;
}

tbody th,
tbody td {
    padding: 1px;
    border: 1px solid grey;
    text-align: center;
    color: black;

}

thead th,
tfoot tr {
    color: white;
    text-align: center;
}

th:hover {
    background-color: aqua;
    font-size: larger;
}

.mmm {
    background-color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
}